<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная Страница</title>
    <link rel="icon" href="./img/title.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="hello container-fluid">
            <h1 style="font-size: 48pt; z-index: 1;">Азаматов Арман <br> Персональный Сайт ! <br> o(^▽^)o</h1>
        </div>
        <div class="about_me container-fluid">
            <h1>Обо мне</h1>
        </div>
        <div class="interests container-fluid">

        </div>
        <div class="contact container-fluid">

        </div>
    </div> 
    </div>
</body>
</html>